@using Rubinho_s_Bar___Tchelos.Dominio.MóduloMesa
@{
    Layout = "_Layout";
    Mesa mesa = ViewBag.mesa;

    ViewBag.Tittle = $"Detalhes da mesa";
}

<div class="container bd-highlight">
    <div class="row">
        <div class="col card m-5 p-4 gap-2 bg-light shadow bg-body rounded">
            <div class="d-flex justify-content-between">
                <h1>Detalhes da Mesa</h1>
                <a class="btn btn-secondary ps-3 align-content-center" href="/mesa/listar">
                    <i class="bi bi-arrow-return-left me-1"></i>
                </a>
            </div>

            <div class="list-group">
                <div class="list-group-item list-group-item-action"><div class="fw-bold ">Id:</div>@mesa.Id</div>
                <div class="list-group-item list-group-item-action"><div class="fw-bold ">Número:</div>@mesa.NumeroDaMesa</div>
                @if (mesa.Status == true)
                {
                    <div class="list-group-item list-group-item-action bg-danger"><div class="fw-bold ">Status:</div>@(mesa.Status ? "Ocupada" : "Desocupada")</div>
                }
                else
                {
                    <div class="list-group-item list-group-item-action"><div class="fw-bold ">Status:</div>@(mesa.Status ? "Ocupada" : "Desocupada")</div>
                }

            </div>

            @if (mesa.Comandas.Count > 0)
            {
                <div class="mt-3">
                    <h5>Contas relacionadas à mesa:</h5>
                    <ul class="list-group">
                        @foreach (var comanda in mesa.Comandas)
                        {
                            <li class="list-group-item">@comanda.ToString()</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
